{% extends "base.html" %}

{% block title %}System Level AWS Info{% endblock %}
{% block content %} 

{% if user.is_authenticated and user.is_staff%}
</br></br>
Time to get info from cloud: {{ time }} s. </br>

<h4>Cloud info </h4>
<table border="0" bordercolor="#FFCC00" style="background-color:#FFFFFF" cellpadding="2" cellspacing="1">
	{% for key, value in info.items %}
	<tr>
	<th style="text-align:left">{{ key }} </th> <td>{{ value }}</td>
	</tr>
	{% endfor %}
</table>
<h4>Users </h4>
<table border="0" bordercolor="#FFCC00" style="background-color:#FFFFFF" width="70%" cellpadding="1" cellspacing="1">
    <tr>
    
        <th style="text-align:left">User name</th>
        <th style="text-align:left">Created</th>
        <th style="text-align:left">Path</th>
        <th style="text-align:left">User ID</th>
        <th style="text-align:left">ARN</th>
    </tr>
{% for u in aws_users  %}
    <tr>
    
        <td><a href="/cloud/viewUserAWS/{{u.user_name}}/">{{u.user_name}}</a></td>
        <td>{{ u.create_date|date:'Y-m-d H:i'}}</td>
        <td>{{ u.path }}</td>
        <td>{{ u.user_id }}</td>
        <td>{{ u.arn }}</td>
    </tr>
    {%endfor%}
</table>

<h4>Instances</h4>
<table border="0" bordercolor="#FFCC00" style="background-color:#FFFFFF" width="70%" cellpadding="1" cellspacing="1">
    <tr>
    <th >#</th>
    {%for key in instance_keys %}
       <th style="text-align:left">{{ key }}</th>
    {% endfor %}
    </tr>
{% for i in instances   %}
    <tr>
    <td><b>{{forloop.counter}}</b> </td>
    {% for key, value in i.items %}        
        <td>{{ value }}</td>
        {%endfor%}
    </tr>
    {%endfor%}
</table>
    
{% endif %}

   {% if not user.is_authenticated %}
   </br></br>
    <b> You need to log in to access content of this site</b>
   {% endif %}
{% endblock %}
