{% extends "base.html" %}
{% block title %}User "{{user}}" details{% endblock %}
{% block content %}
</br></br>
Time to get info from cloud: {{ time }} s. </br>
<!-- <a href="" >Get new key</a> <b> | </b>
<a href="">Create login profile</a> <b> | </b>
 -->

<h4>AWS User Details </h4>

<table border="0" bordercolor="#FFCC00" style="background-color:#FFFFFF" cellpadding="1" cellspacing="1">
    <tr>
    
        <th style="text-align:left">Aws User name</th><td><a href="/cloud/viewUserAWS/{{u.user_name}}/">{{u_data.aws_user.user_name}}</a></td>
        </tr>
          <tr>
        <th style="text-align:left">Created</th><td>{{ u_data.aws_user.create_date|date:'Y-m-d H:i'}}</td>
        </tr>
          <tr>
        <th style="text-align:left">Path</th> <td>{{ u_data.aws_user.path }}</td>
        </tr>
          <tr>
        <th style="text-align:left">User ID</th><td>{{ u_data.aws_user.user_id }}</td>
        </tr>
          <tr>
        <th style="text-align:left">ARN</th><td>{{ u_data.aws_user.arn }}</td>
    </tr>

 </table>
 <h4>AWS Keys data </h4> 
 <table border="0" bordercolor="#FFCC00" style="background-color:#FFFFFF" width="50%" cellpadding="1" cellspacing="1">
    <tr>  
        <th style="text-align:left">user_name</th>  
        <th style="text-align:left">Status</th>
        <th style="text-align:left">Created</th>
        <th style="text-align:left">access_key_id</th>
        <th style="text-align:left">secret_key_id</th>
        
    </tr>
    {% for u in u_data.aws_keys  %}
    <tr>
        <td><a href="/cloud/viewUserAWS/{{u.user_name}}/">{{u.user_name}}</a></td>
        <td>{{ u.status }}</td>
        <td>{{ u.create_date|date:'Y-m-d H:i'}}</td>
        <td>{{ u.access_key_id }}</td>
        <td>{{ u.secret_key_id }}</td>
    </tr>
    {%endfor%}
    </table>
  <h4>Local user Details </h4>   
  
<table border="0" bordercolor="#FFCC00" style="background-color:#FFFFFF"  cellpadding="1" cellspacing="1">
    <tr>
    
        <th style="text-align:left">Local User Name</th><td><a href="/cloud/viewUserAWS/{{u.user_name}}/">{{l_user.username}}</a></td>
        </tr>
                  <tr>
        <th style="text-align:left">First Name</th><td>{{ u_data.local_user.first_name}}</td>
        </tr>
                  <tr>
        <th style="text-align:left">Last Name</th><td>{{ u_data.local_user.last_name}}</td>
        </tr>
                  <tr>
        <th style="text-align:left">Email</th><td>{{ u_data.local_user.email}}</td>
        </tr>
                          <tr>
        <th style="text-align:left">Staff status</th><td>{{ u_data.local_user.is_staff}}</td>
        </tr>
          <tr>
        <th style="text-align:left">Course</th> <td>{{ u_data.local_profile.course }}</td>
        </tr>
          <tr>
        <th style="text-align:left">Updated localy</th><td>{{ u_data.local_profile.updated_local }}</td>
        </tr>
          <tr>
        <th style="text-align:left">Updated On AWS</th><td>{{ u_data.local_profile.updated_amazon }}</td>
          </tr>
           <tr>
        <th style="text-align:left">Password</th><td>{{ u_data.local_profile.password }}</td>
          </tr>
          <tr>      
        <th style="text-align:left">Link</th><td><a href="https://ltusrt.signin.aws.amazon.com/console">Login</a>
        </tr>

 </table>  
  
{% endblock %}
