{% extends "base.html" %}

{% block content %}

<h1>Login</h1>

{% if user.is_authenticated %}
Hi, ({{ user.username }}). <a href="{% url auth_logout %}">Logout</a>
{% else %}

{% include "form.html" %}
    

{% endif %}
{% endblock %}