{% extends "base.html" %}

{% block content %}

<h1>Activation needed</h1>

An activation letter was sent to your e-mail and should arrive within couple of hours. <br/>
Check your spam, junk folders to insure that the e-mail have not ended up there <br/>
If so, make sure you mark e-mail as NOT spam, since you will be receiving more automaticly generated e-mails.

{% endblock %}