<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>CommNet's{% block title %}{% endblock %}</title>
</head>
<body id="{% block body_id %}{% endblock %}">
  <div id="menu">
     {% block nav-global %}

       <!-- MENU -->
       

       
       {% if user.is_authenticated %}
          Hi {{ user.username }}! Last login {{ user.last_login|timesince}} ago.</br></br></br>
          <a href="/cloud/createUserAWS/?next=/cloud/viewUserAWS/{{user.username}}/">Create AWS User</a> <b> | </b>
          <a href="/cloud/viewUserAWS/">Your AWS credentials</a> <b> | </b>
          <a href="/cloud/viewActivityAWS/">AWS activity</a> <b> | </b>
          <a href="/cloud/help/">Help</a> <b> | </b>
          <a href="/accounts/logout/?next=/user/">logout</a>
           {% endif %}
    {% if user.is_staff %} 
    <b> | </b><a href="{% url 'admin:index' %}">Admin</a>
    <b> | </b><a href="/cloud/getAWSInfo/">AWS Info</a>
    
    {% endif %}
    
       {% if not user.is_authenticated %}<a href="/accounts/login/?next=/user/">login</a> <b> | </b> <a
           href="/accounts/register/">register</a>{% endif %}


   {% endblock %}
  </div>
  {% if user.is_authenticated %}
  <div id="messages" style="color:red;font-weight: bold">
  </br>
  {% for m in messages %}
  {{m}}</br>
{% endfor %}
</div>
{% endif %}
  <div id="body">
    {% block body %}
      <div>
        {% block content_title %}{% endblock %}
      </div>
      <div class="content">
        {% block content %}{% endblock %}
      </div>
    {% endblock %}
  </div>
</body>
</html>
