{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
{% if user.is_authenticated %}

<h4>Disclaimer</h4>
<b>All your activity on AWS is subject to monitoring, 
both for evaluation of your performance in the course, and
for evaluation of AWS suitability as an educational platform. <br/>
Moreover, you are only allowed to use AWS if you agree on <i>AWS Customer Agreement</i> 
read it here: <a href="http://aws.amazon.com/agreement/">http://aws.amazon.com/agreement/</a>
</b>

<h4>Important info</h4>
<ul>
	<li>After activation of account here, make sure you create user on AWS </li>
	<li>If you want to delete instance add tag action:delete</li>
	<li>Read Tagging of instances </li>
</ul> 

<h4>Tagging your instances!</h4>
There is a crawler script running in the backround of AWS services. 
Any instance not following tagging and usage rules will be terminated. 
Remember, when an instance is terminated <b>ALL DATA IS LOST</b>. 
In case of instance termination, either by you or crawler, 
<b>NO</b> excuse nor extention for labs will be given.
<br/>
<b>Mandatory tags:</b>
<ul>
 <li>user:your_user_name</li>
 <li>course:cours_you_have_enroled</li>
</ul> 
<b>Optional tags:</b>
<ul>
 <li>action:delete</li>
 <li>course:cours_you_have_enroled</li>
</ul> 
<b><a href="http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Using_Tags.html">Read more about tagging </a></b> <br>
<b>Usage rules:</b>
<ul>
 <li>Run time for <b>ALL</b> instances is maximum <b>10h</b> per 24h period</li>
 <li>Maximum of 5 simulations instances can be run per user at given time (recall that project you do in groups).</li>
 <li>If you run 5 (five) instance this means that each instance can run only for 2 h</li>
</ul> 

<b>Repeated abuse of rules will result in disciplinarity actions.</b>
{% endif %}


{% endblock %}
