﻿{% extends "base.html" %}

{% block content %}

<h1>Login</h1>

{% if user.is_authenticated %}
My name is, ({{ user.username }}). My city is {{request.user.get_profile.class}} 

<br>

<a href="{% url "auth_logout" %}">Logout</a>

{% endif %}

{% endblock %}
